.error {
	min-height: 100vh;
	display: grid;
	place-items: center;
	place-content: center;
	font-size: var(--large-font-size);
}
.error {
	text-align: center;
}
.error-title {
	font-size: var(--large-font-size);
}
.error-message {
	margin-top: 1rem;
}