@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Staatliches&display=swap');
:root {
	--title-font-family: 'Lobster', cursive;
	--main-font-family: 'Staatliches', cursive;
	--xl-font-size: 3.2rem;
	--large-font-size: 2rem;
	--normal-font-size: 1.1rem;
	--small-font-size: 1rem;
	--font-color: hsl(0, 0%, 23%);
	--body-color: hsl(350, 38%, 88%);
	--pink: hsl(327, 93%, 58%);
	--overlay: hsla(327, 45%, 90%, .8);
	--transition: .3s linear;
	--radius: 3px;
}
@media screen and (min-width: 600px) {
	:root {
		--xl-font-size: 4rem;
		--large-font-size: 2rem;
		--normal-font-size: 1.25rem;
		--small-font-size: 1.1rem;
	}
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: var(--main-font-family);
	font-size: var(--normal-font-size);
	color: var(--font-color);
	background-color: var(--body-color);
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	color: var(--pink);
	transition: var(--transition);
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.light {
	opacity: .5;
	font-size: var(--small-font-size);
	display: block;
}
.arrow-icon {
	margin-left: .3rem;
}
.cocktail-icon {
	margin-bottom: .25rem;
	color: var(--pink);
}
.title {
	font-family: var(--title-font-family);
	font-size: var(--xl-font-size);
}
.flex-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 4rem 2rem 2rem;
}
.cocktail-search .form {
	padding: 4rem 2rem;
}
.form select {
	cursor: pointer;
	padding: .8rem 2rem;
	background-color: var(--body-color);
	border-radius: var(--radius);
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	margin: 1rem 0;
}
